* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* Header Section Styles */

.header {
  height: 800px;
  background: url("../images/banner/banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.banner{
  padding: 216px 230px 364px 845px;
  text-align: right;
}

.banner title{
  font-weight: 900;
  font-size: 65px;
  color: #151414;
  margin-bottom:24px ;
}

.banner-details{
   color: #444343;
   margin-bottom: 32px;
   font-weight:400 ;
  font-size: 16px;
}

.btn-primary{
  background-color: #f15b22;
  border-radius: 5px;
  border: 1px solid #f15b22;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 25px;
}

/* Failure Section  */

 .failures-container {
    display: flex;
    gap: 87px;
    margin: 0 230px;
    align-items: center;
}
.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 24px;
}

.failure-description{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #444343;
}
.failure-description-sub{
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 16px;
  color: #444343;
}
.failure-description-color {
    color: #16D887;
}

/* My Plan Section Style */

.plan-section-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.plan-section{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 86px;
  margin: 0 330px;
}
.plan-image{
  height: 50px;
}
.plan-title{
  font-weight: 700;
  font-size: 20px;
}
.plan-description{
  font-weight: 500;
  font-size: 15px;
  color: #737272;
}
/* Mindset Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mindset Section */
.mindset{
  max-width: 1140px;
  margin: 100px auto;
  height: 200px;
  border-radius: 5px;
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Overlay */
.mindset-overlay{
  position: absolute;
  inset: 0;
  background: url(../images/gradient2.png);
  opacity: 0.6;
  z-index: 1;
}

/* Text Center + Bottom Align */
.mindset-text{
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
}

/* Title */
.mindset-title{
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

/* Button */
.mindset-button{
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background: #fff;
  color: #FD6E0A;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.footer-container {
    background: #151414;
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    gap: 200px;
    margin-top: 130px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-title-sub {
    font-weight: 600;
    font-size: 25px;
    color: #F8F8F8;
    margin-bottom: 31px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.future a{
    text-decoration: none;
    margin-right: 24px;
}

.footer-input-email {
    background: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 20px 150px 20px 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.btn-footer {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
}