
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    list-style: none;
}
ul li {
  list-style: none;
}
body {
    font-family: "Inter", sans-serif;
    background: #ffffff;
}


header {
    background-color: rgb(255, 255, 255);
}

nav {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.btn {
    padding: 15px 30px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav .menu li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-img img{
  width: 139px;
}

.primary {
  background: #469165;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.outline{
  background: none;
  color: white;
  border: 1px solid #ffffff;
  padding: 10px 16px;
  border-radius: 4px;
  margin-left: 30px;
  cursor: pointer;
}

.hero-section {
  background-image: url("/assets/hero-bg.png");
  color: white;
  text-align: center;
  padding: 115px 120px 179px;
}

h4 button{
  width:229px;
  height:35px ;
  border-radius: 50px;
  font-size: 16px;
  color: #30b868;
  text-align: center;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 0;
}
span {
  color: #30b868;
  font-size: bold;
}
.hero-content p {
  width: 600px;
  margin: 16px auto;
  margin-bottom: 32px;
}

/* main part */
.background{
  background: #ffffff;
} 



h1{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 30px;
}

p{
  text-align: center;
   font-size: 16px;
  margin-bottom: 44px;
}

.card-container{
  
  display: flex;
  gap: 20px;
  
}

.card{
  width: 280px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px;
  padding: 20px;
  margin-left: 120px;
  height:260px;
}


.title {
        font-size: 20px;
        font-weight: 700;
        color: #0b1c39;
        
 }

.card img{
  background-color: rgb(255, 102, 0);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  
}


.sub{
 font-size: 14px;
 text-align: center;
 justify-content: space-between;
}

.card-container{
display: flex;
gap: 8px;
margin-right: 120px;
margin-bottom: 30px;
}

.set{
  margin-top: 6px;
}

/* Second Brain Sextion */

.Second-brain{
  padding: 80px 0;
}

.container{
  max-width: 1600px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  gap:75px;
  align-items: flex-start;
  border-radius: 12px;
  margin-right: 120px;
}

.info-img{
  width: 600px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}

h2{
  font-size: 48px;
  color: #003366;
  margin-bottom: 10px;
  line-height: 1.3;

}

.sub-text {
  font-size:16px;
  color:#001931;
  line-height: 20px;
  margin-bottom: 20px;
  line-height: 20pxpx;
  margin-bottom: 20px;
  max-width:620px;
  

}

li{
list-style: none;
padding: 0;
margin: 0;
}

li {
margin-bottom: 12px;
font-size: 16px;
color: #333;
display: flex;
align-items: flex-start;
gap: 10px;
  }  


.contain-text{
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 102px;
}

.cta-section {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px 20px;
 background-color: #FFFFFF;

}

.cta-box{
  background-color: #faf9f5;
  padding: 60px 40px;
 text-align: center;
 border-radius: 12px;
 margin-left: 110px;
 margin-right: 110px;
 width: 1370px;
}


h2{
  font-size: 40px;
  font-weight: bold;
  color: 001931;
  margin-bottom: 16px;
}
p{
  font-size: 16px;
  color: #627382;
  margin-bottom: 16px;
  line-height: 1.6;
  margin-bottom: 24px;

}

.cta-btn{
  background:#469165 ;
  color: #FFFFFF;
  border: none;
  padding:16px 16.5px ;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;

}

.cta-btn{
  background:#426c51 ;
}

.cta-box small{
  display: block;
  margin-top: 14px;
  font-size: 14px;
  color:#627382;
}

.footer{
    background: linear-gradient(180deg,#021b33,#031428);
    color:#fff;
    padding:30px 60px 15px;
    position:relative;
    width: 1600px;
    height: 348px;
    background-color: #001931;
}

