* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    list-style: none;
}
ul li {
  list-style: none;
}
body {
    font-family: "Inter", sans-serif;
    background: #f2f2f2;
}


header {
    background-color: rgb(235, 234, 234);
}

nav {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.btn {
    padding: 15px 30px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav .menu li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-img img{
  width: 139px;
}

.primary {
  background: #469165;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.outline{
  background: none;
  color: white;
  border: 1px solid #ffffff;
  padding: 10px 16px;
  border-radius: 4px;
  margin-left: 30px;
  cursor: pointer;
}

.hero-section {
  background-image: url("/assets/hero-bg.png");
  color: white;
  text-align: center;
  padding: 115px 120px 179px;
}

h4 button{
  width:229px;
  height:35px ;
  border-radius: 50px;
  font-size: 16px;
  color: #30b868;
  text-align: center;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin: 0;
}
span {
  color: #30b868;
  font-size: bold;
}
.hero-content p {
  width: 600px;
  margin: 16px auto;
  margin-bottom: 32px;
}

/* main part */
.background{
  background: #f2f2f2;
} 



h1{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 30px;
}

p{
  text-align: center;
   font-size: 16px;
  margin-bottom: 44px;
}

.card-container{
  
  display: flex;
  gap: 20px;
  
}

.card{
  width: 280px;
  background: white;
  border-radius: 10px;
  border: 1px solid salmon;
  text-align: center;
  box-shadow: 0 4px 10px;
  padding: 20px;
  margin-left: 120px;
  height:260px;
}


.title {
        font-size: 20px;
        font-weight: 700;
        color: #0b1c39;
        
 }

.card img{
  background-color: rgb(255, 102, 0);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  
}


.sub{
 font-size: 14px;
 text-align: center;
 justify-content: space-between;
}

.card-container{
display: flex;
gap: 8px;
margin-right: 120px;
margin-bottom: 30px;
}

.set{
  margin-top: 6px;
}

.info{
  width: 100%;
  background: #fff;
  padding: 100px 0;

}
 .info-container{
  max-width: 1600px;
  margin: auto;
  padding: 0 24px;
 }
 .info img {
  width: 100%;
  max-width: 520px;
}
info-img{
  background-image: url("//assets/Info.png");
}